//================<МИКСИНЫ>===============
//===============</МИКСИНЫ>===============

//=================<ШРИФТЫ>===============

//<Подключаем шрифты>
// &display=swap &subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;700;900&display=swap");
//</Подключаем шрифты>

//<Иконочные шрифты>
@import "icons";
//</Иконочные шрифты>

//<Шрифт по умолчанию>
body {
  font-family: "Heebo", sans-serif;
}
//</Шрифт по умолчанию>

//================</ШРИФТЫ>===============

//===============<ПЕРЕМЕННЫЕ>=============
$minWidth: 320px;
$maxWidth: 1125px;
$maxWidthContainer: 856px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//==============</ПЕРЕМЕННЫЕ>=============

//=====<ОБНУЛЕНИЕ ОБЩИЕ, ПАРАМЕТРЫ>=======
@import "vendor/normalize";
@import "null";

body {
  color: black;
  font-size: 14px;
}
//=====</ОБНУЛЕНИЕ ОБЩИЕ, ПАРАМЕТРЫ>======

//===============<ОБОЛОЧКА>===============
// .wrapper {
// }
//==============</ОБОЛОЧКА>===============

//=========</ОСНОВАНАЯ СЕТКА>=============
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}
//========</ОСНОВАНАЯ СЕТКА>==============

//=================<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАСОВ>===============
@import "header";
//================</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАСОВ>===============
