<header class="header">
  <h1>HELLO</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus
    quibusdam quod placeat alias delectus aperiam qui veritatis magnam, quo
    vitae commodi excepturi distinctio voluptate est non deleniti eveniet,
    praesentium ut. Tempora facilis sunt asperiores doloribus illum at
    veritatis? Non nesciunt ipsam placeat velit incidunt aliquam possimus rem
    excepturi quam maxime temporibus, dolore consequatur odit, similique error,
    aspernatur totam rerum tempora! Sequi esse quibusdam tempora, velit deleniti
    enim corporis aperiam iste aut blanditiis rem corrupti dignissimos alias et
    fugiat soluta quaerat ratione expedita. Aut, reprehenderit voluptate
    delectus fugit quidem aliquam voluptatibus! Perspiciatis reprehenderit fugit
    quo corporis ex magni, impedit deserunt quia atque velit omnis facilis
    voluptatibus nostrum earum eius quis laudantium harum tenetur rem. Odit
    repudiandae veritatis dignissimos, quos fuga in. Consequuntur adipisci
    explicabo ratione nam. In molestiae harum pariatur quae hic odit, maxime
    earum eum sint molestias corporis corrupti. Facere reiciendis veritatis
    tenetur ad quam voluptatem iste eius commodi illum.
  </p>
  <h3>пока</h3>
</header>
